.item-picture-big{
    width: 100%;
    height: 42%;
    background-image: url(/src/img/default.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    border-collapse: collapse;
    margin: 26px 0;
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    margin-top: 16px;
}

table tr{
    height: 2rem;
    border-bottom: 1px solid gainsboro;
}

.act-btn{
    width: 100%;
    height: 3rem;
    text-align: center;
    background-color: #006edc ;
    color: #F7F7F7;
    border-radius: 8px;
  
    
}
