@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5, small, th,td{
    font-family: Barlow;
}
body{
    background-color: #FFF8E9;
}
.container{
    width: 98%;
    margin: 0 auto;
    outline: 1px solid red;
}
.navy-header{
    background-color: #F77C16 ;

}
.navy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


.navy-icons{
    color: aliceblue;
    font-size: 32px;
}
.main-panel{
    height: 90vh;
    display: flex;
}

.item-panel{
    width:70%;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.order-panel{
    width: 30%;
    height: inherit;
}


/* Item Panel sections */

/* menu section */

.menu{
    width: 100%;
    height: auto;
    outline: 1px solid red;
    margin-bottom: 8px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}




/* item section */
#itemList{
    width: 100%;
    height: auto;
    outline: 1px solid red;
    margin-top: 8px;
    display: none;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    overflow-y: scroll;
    gap: 16px;
}

.item::-webkit-scrollbar{
    display: none;
}
/* card */


.card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 3px 3px 8px  #FBB03B;   
}

.card button{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}
.card-tittle{
    padding: 16px 0;
    text-align: center;
    background-color: aliceblue;
    color: #F77C16;
    font-size: 1.5em;
    letter-spacing: 1px;
    
}

.item-card{
    width: 100%;
    height: 240px;
    margin: 0 auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 3px 3px 8px  #FBB03B;
    color: #F77C16;
    font-size: 1.2em;
    letter-spacing: 1px;
}
.item-card:hover{
    cursor: pointer;

}

.item-img{
    background-image: url(/src/img/default.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 80%;
    display: flex;
}

.changeQty-container{
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 45%);
    display: none;
   
}
.changeQty{
    margin-bottom: 0.5em;
}
.changeQty-btn{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    color: aliceblue;
}
.changeQty-in{
    width: 64px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
    margin: 0 4px;
}
#minus{
    background-color: #006edc;
}
#plus{
    background-color: #E71D36;

}
.changeQty-submit{
    width:40%;
    height: 40px;
    border-radius: 8px;
    color: aliceblue;
    background-color: #006edc;
}











